<!-- <div class="col-lg-4"> -->
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> {{card.subject}}
        </div>
        <div class="panel-body">
            <div class="row text-center">
              <img data-ng-src="http://lorempixel.com/300/400/city/{{card.$index}}" alt="" style="width:95%;">
            </div>
            <p>{{card.desc}}</p>
            <a class="btn btn-default btn-block cursor-pointer" click-link="/view-trip/{{card.id}}">View Details</a>
        </div>
        <!-- /.panel-body -->
    </div>
<!-- /.panel -->
<!-- </div> -->