<div class="col-lg-4">
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> {{trip.subject}}
        </div>
        <div class="panel-body">
            <div class="row text-center">
              <img ng-src="img/heading3.png" alt="">
            </div>
            <p>{{trip.desc}}</p>
            <a class="btn btn-default btn-block cursor-pointer" click-link="/view-trip/{{trip.id}}">View Details</a>
        </div>
        <!-- /.panel-body -->
    </div>
<!-- /.panel -->
</div>