<div id="page-wrapper" ng-controller="PersonalPageCtrl as ppCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Trip Lists
              <button type="button" class="btn btn-primary btn-lg pull-right" click-link="/add-trip">Add Trip</button>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div deckgrid class="row deckgrid" source="photos">
        <gt-single-trip class="a-card"></gt-single-trip>
    </div>
    
</div>
<!-- /#page-wrapper -->
